
body{
    height: 100vh;
    padding-top: 20px;
    background: rgb(255,81,78);
    background: -moz-linear-gradient(0deg, rgba(255,81,78,1) 0%, rgba(232,55,52,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,81,78,1) 0%, rgba(232,55,52,1) 100%);
    background: linear-gradient(0deg, rgba(255,81,78,1) 0%, rgba(232,55,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff514e",endColorstr="#e83734",GradientType=1);
}

div.start_container{
    background-color: white;
    padding: 30px;
    width: 320px;
    margin: 0 auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #e83734;
}

div.start_content{
    max-width: 280px;
    margin: 0 auto;
}

div.start_links{
    font-size: 0.9em;
}

.btn_google{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
}

.btn_google:hover{
    background-color: #f1f1f1;
    border: 1px solid #AAAAAA;
}