
body{
    height: 100vh;
    padding-top: 20px;
    background: rgb(100,166,250);
    background: -moz-linear-gradient(180deg, rgba(100,166,250,1) 0%, rgba(54,141,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(100,166,250,1) 0%, rgba(54,141,255,1) 100%);
    background: linear-gradient(180deg, rgba(100,166,250,1) 0%, rgba(54,141,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#64a6fa",endColorstr="#368dff",GradientType=1);
}

div.start_container{
    background-color: #FFFFFF;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #f1f1f1;
}

div.start_content{
    max-width: 280px;
    margin: 0 auto;
}

div.start_links{
    font-size: 0.9em;
}

.btn_google{
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
}

.btn_google:hover{
    background-color: #f1f1f1;
    border: 1px solid #AAAAAA;
}